/*Der Teil der als Seite angezeigt wird
Keinen Abstand nach aussen
Farbe der Seite*/
body	{
	margin: 0px;
	background-color: #26292E;
}

/*Der Titel Herzlich Willkommen und seine werte*/

h1 {
text-align: center; 	/* Das der Titel immer in der Mitte angezeigt wird	*/
font-size: 380%;		/* Die Schriftgrösse	*/
color:	#FF661A;		/* Die Schriftfarbe	*/
margin-left: 20px; 		/* Der Abstand zum Logo	*/
margin-bottom: 20px; 	/* Der Abstand zur Linie unten */
}

/* Der 2. "Titel" auf der Seite...	*/

h2 {
margin-top: 15px;		/* Der Abstand zur Linie	*/ 
text-align: center;		/* Das der Text immer in der Mitte angezeigt wird	*/
font-size: 220%;		/* Die Schriftgrösse	*/
color:	#FF661A;		/* Die Schriftfarbe	*/
margin-left: 20px;		/* Der Abstand zum Logo	*/
}

/* Die Linie zwischen dem Titel/Text	*/

hr {
	position: relative;				/* Die Position wird an den Titel angepasst	*/
	width: 100%;					/* Die Breite der Linie wird dem Titel angepasst */
	height: 2px;					/* Die Höhe der Linie	*/
	background-color: #FF661A;		/* Die Farbe der Linie	*/
	border-color: #FF661A;			/* Die Farbe des Rahmens der Linie	*/
	border-radius: 2px 2px 2px 2px;	/* Die Abrundung der Kanten der Linie	*/
}

/* Die Bilder	*/

img {
	max-width: 100%;					/* Die Breite des Bildes */
	height: auto;						/* Die Höhe des Bildes wird angepasst */
	align-self: center;					/* Bild in der Mitte des Containers */
	border-radius: 50px 50px 50px 50px;	/* Abrundung der Ecken des Bildes */
}
/* Der Abstand des Bildes zu den Aussenseiten der Seite  */
.imgcont {
	margin-left: 10px;
	margin-right: 10px;
}

/* Der Container mit dem Titel und der Linie */

.col2 {
	display: flex;				/* Ermöglicht das automatische Anpassen */
	flex-direction: column;		/* Dass die Linie unter dem Titel ist */
	justify-content: flex-end;	/* Dass alles unten am Container ist */
	margin-bottom: 0px;			/* Dass der Abstand zum Text unten 0 ist */
}

/* Masse für das Logo und link */

.logo {
	margin-left: 20px;									/* Der Abstand zum linken Rand	*/
	max-height: 155px;									/* Die maximale Höhe	*/
	max-width: 350px;									/* Die maximale Breite	*/
	content: url(https://www.zivilschutz-weinland.ch);	/* Der Link zur ZSO Seite	*/

}

/* Die Aktion wenn man über das Logo fährt	*/

.logo:hover {
	animation: pulse ;			/* vergrössert das Logo	*/
	animation-duration: 1.5s;	/* Dauer der Animation	*/
	cursor: pointer;			/* Der Cursor ändert sich zu dem Finger	*/

}

/* Die Grundregeln für alle Container	*/

.container {
	text-align: center;	/* Dass der Text immer in der Mitte angezeigt wird */
	margin-top: 30px;	/* Dass die Container immer einen Abstand nach oben haben  */


}

/* Die Buttons, ihr Aussehen usw.	*/

.btn{
	font-size: 30px;					/* Die Schriftgrösse */
	color: #26292E;						/* Die Schriftfarbe	*/
	background-color: #FF661A;			/* Die Hintergrundfarbe	*/
	border-color: #FF661A;				/* Die Randfarbe	*/
	border-radius: 25px 25px 25px 25px;	/* Die Rundung des Buttons	*/
	cursor: pointer;					/* Der Cursor wird zum Finger	*/
	margin: 20px 40px 20px 40px;		/* Die Abstände um den Button	*/
	padding: 10px 10px 10px 10px;		/* Die Abstände der Schrift zum Rand des Buttons	*/
	text-align: center;					/* Dass der Text immer in der Mitte ist	*/
}

/* Die Funktion wenn man über die Buttons fährt */

.btn:hover{
	color: #FFFFFF;			/* Schriftfarbe des Buttons */
	animation: bounce ;		/* Die Animation beim darüberfahren */
	animation-duration: 2s;	/* Die Dauer der Animation */
}

/* Damit das Logo links angezeigt wird */

.row {
	display: flex;
}
/* Die Anpassung der Anzeige wenn das Fenster weniger als 730px breit ist  */
@media only screen and (max-width: 730px){
	h1 {
		font-size: 200%;
	}
	h2 {
		font-size: 150%;
	}
	.logo {
		max-width: 250px;
		max-height:	110px;
	}
		.btn {
		font-size: 25px;
	}
}
/* Die Anpassung der Anzeige wenn das Fenster weniger als 480px breit ist  */
@media only screen and (max-width: 480px){
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 120%;
	}
	.logo {
		max-width: 150px;
		max-height:	66px;
	}
	.btn {
		font-size: 20px;
	}
}

/* Die Anzeige des Headers */

.col {

	display: flex;				/* Damit alles flexibel ist */
	width: 100%;				/* Damit die Container immer die ganze Seite füllen */
	justify-content: center;	/* Damit alles in der Mitte ist */
}


/* Der Text ganz unten an der Seite */

footer {
	text-align: center;						/* Damit der Text in der Mitte ist */
	color: #FF661A;							/* Die Schriftfarbe */
	margin-top: 20px;						/* Der Abstand zum Teil darüber */
	margin-bottom: 20px;					/* Der Abstand zum Ende der Seite */
	font-family: 'Style Script', cursive;	/* Die Schriftart */
	}